.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2px;
  /* border-right: 1px solid var(--gray_dark); */
  /* height: 50px; */
  font-size: 20px;
}

.active_selected {
  /* background-color: var(--container_background_color); */
}

.icon_container {
  margin: 5px;
  display: flex;
}

.icon {
  fill: var(--gray_lighter);
  transition: all 0.3s ease-in-out;
}

.icon:hover {
  fill: var(--accent_lighter);
  filter: drop-shadow(0 0 5px var(--accent));
}

.selected_name_container {
  white-space: nowrap;
  max-width: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  padding-top: 2px;
}

.container:hover .selected_name_container {
  max-width: 500px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  fill: var(--accent_lighter);
  filter: drop-shadow(0 0 5px var(--accent));
}

.socials_icon {
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  width: 25px;
  height: 25px;
}

.socials_icon:hover {
  margin-top: 4px;
  filter: drop-shadow(0 0 5px var(--accent));
  fill: var(--accent_lighter);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  width: 25px;
  height: 25px;
}
