.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  gap: 1rem;
}

.tab_container {
  margin: 5px;
  display: flex;
  font-size: 16px;
  color: white;
  opacity: 0.5;
  transition: all 0.1s ease-out;
}

.tab_active {
  opacity: 1;
}

.tab_container:hover {
  opacity: 1;
  filter: drop-shadow(0 0 5px var(--accent_darker));
}
