.container {
  /* border: none; */
  padding: 10px;
  border-radius: 4px;
  /* backdrop-filter: blur(20px); */
  /* background-color: var(--turquoise); */

  border: 1px solid var(--glass_shadow);
  box-shadow: 0 0 10px var(--glass_shadow);
  color: white;
  transition: all 0.1s ease-out;
  /* font-size: 1em; */
  font-size: inherit;
  /* font-weight: 600; */
  /* width: 100%; */
  /* margin-top: 10px; */

  /* opacity: 0.8; */

  z-index: 1;
  background: var(--zz_gradient_dark);
}

.container:not(:disabled):hover {
  cursor: pointer;
  background-color: var(--turquoise_dark);
  background: var(--zz_gradient);
  box-shadow: 0 0 10px var(--turquoise_dark);
  /* opacity: 0.7; */
}

.container:disabled {
  /* background-color: var(--glass_background); */
  border-color: var(--glass_background);
  border-color: none;
  background: var(--glass_background);
}

.container:disabled * {
  opacity: 0.5;
}

.container.error {
  /* opacity: 1 !important;
  border-color: rgba(255, 0, 0, 0.253);
  border: none;
  background: linear-gradient(-45deg, rgba(255, 0, 0, 0.562), rgba(255, 0, 0, 0.253)); */
  /* box-shadow: 0 0 10px rgba(255, 0, 0, 0.562); */
}

@media (width <= 500px) {
  .container {
    /* border-radius: 0; */
    margin: 0 10px;
  }
}
