.container {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;

  z-index: 10000000000;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* background-color: var(--glass_background); */
  backdrop-filter: blur(20px);
  opacity: 1;
  transition: all 0.1s ease-out;
}

.hidden {
  pointer-events: none;
  background: none;
  backdrop-filter: none;
  opacity: 0;
}

.modal {
  scale: 1;
  background-color: var(--glass_background);
  border: 1px solid var(--glass_background);
  border-radius: 4px;
  box-shadow: 0 0 5px var(--glass_shadow);
  backdrop-filter: blur(20px);
  padding: 10px 20px;
  width: max(40vw, 400px);
  transition: all 0.05s ease-out;
}

.hidden > .modal {
  scale: 0.9;
}
