.container {
  width: max(500px, 25vw);
  align-self: center;
  justify-content: center;
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

.title {
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  text-align: center;
  opacity: 0.5;
  font-size: 1.5rem;
  opacity: 1;

  background-position: 50%;
  background-clip: text;
  background: var(--zz_gradient);
  text-shadow: 0 0 10px var(--turquoise_darker);
  width: fit-content;
  justify-self: center;
  align-self: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.from_to_container {
  padding: 1rem;
  padding-top: 0.5rem;

  border: 1px solid var(--glass_background);
  background-color: var(--glass_background);

  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px var(--glass_shadow);
  border-radius: 4px;
  /* mix-blend-mode: multiply; */

  /* background: radial-gradient(circle at 0 0, red, transparent 5%); */
  /* background-repeat: no-repeat; */
  /* overflow: hidden; */

  display: flex;
  flex-direction: column;
}

.from_header,
.to_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.from_title,
.to_title {
  display: flex;
  align-items: center;
  gap: 5px;
  opacity: 0.5;
}

.from_title svg,
.to_title svg {
  height: 1em;
  /* width: 1em; */
  fill: var(--turquoise);
  fill: white;
}

.below_input_container {
  font-size: 0.8rem;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  min-height: 23px;
}

@media (width <= 500px) {
  .container {
    width: 100%;
    justify-content: flex-start;
  }
  .from_to_container {
    /* padding: 0.1rem; */
    /* padding-bottom: 0.5rem; */
    border-radius: 0;
    border-left: none;
    border-right: none;
  }

  .from_header,
  .to_header {
    padding: 0 0.4rem;
    /* font-size: 0.8rem; */
  }
}

.value_container {
  display: flex;
  justify-content: space-between;

  opacity: 0.5;
}

/* .estimated_value {

} */

.info_icon svg {
  fill: red !important;
}

.error_element {
  /* position: absolute; */
  /* color: var(--glass_background); */
  color: white;
  /* width: 100%; */
  /* top: calc(100% + 0px); */
  /* background-color: rgba(0, 0, 0, 0.685); */
  /* border: 1px solid var(--glass_background); */
  /* backdrop-filter: blur(20px); */
  /* border-radius: 4px; */
  /* background: rgba(189, 6, 6); */
  /* background-color: gray; */
  /* box-shadow: 0 0 10px var(--glass_shadow); */
  z-index: 10;
  /* padding: 5px 15px; */
  /* transition: all 0.1s ease-out; */
  /* min-width: 35px; */
  font-size: 0.8rem;
  color: red;
  font-weight: bold;
  opacity: 1;
}

.hidden_error_element {
  opacity: 0;
  /* transform: scaleY(0.5); */
  pointer-events: none;
}

.sell_token_info,
.buy_token_info {
  opacity: 0.5;
  font-size: 0.8rem;
}

.see_in_explorer_link {
  font-size: 0.8rem;
  opacity: 0.5;
}

.see_in_explorer_link:hover {
  opacity: 1;
}

.native_token {
  font-size: 0.8rem;
  opacity: 0.5;
}
