.container {
  border: 1px solid var(--glass_background);
  /* background-color: var(--glass_background); */
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px var(--glass_shadow);
  border-radius: 4px;
  margin-top: 0.5rem;
}

.title {
  opacity: 0.5;
}

.hr {
  border-color: var(--glass_background);
  border-width: 1px;
  opacity: 0.25;
}

.buy_price_info,
.sell_price_info,
.gas_fee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.buy_price_info *,
.sell_price_info *,
.gas_fee * {
  display: flex;
  align-items: center;
  gap: 5px;
}

.token_amount {
  display: flex;
}

.usd_estimate {
  display: flex;
  margin-left: 5px;
  /* opacity: 0.5; */
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  user-select: none;
}

.gas_fee {
  opacity: 0.5;
}

.update_animated {
  animation: update_animation 1s forwards !important;
}

@keyframes update_animation {
  0% {
    opacity: 1;
    color: var(--turquoise);
    text-shadow: 0 0 10px var(--turquoise_darker);
  }
  100% {
    /* opacity: 0.5; */
    opacity: initial;
  }
}
.header_price {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header_price_token {
  display: flex;
  gap: 0.3em;
}

.header_price_usd {
  opacity: 0.5;
}

.header_gas {
  display: flex;
  align-items: center;
  transition: all 0.1s ease-out !important;

  /* opacity: 0.5; */
}

.header:hover .header_gas {
  opacity: 1 !important;
}

.header:hover {
  background-color: var(--glass_background);
  cursor: pointer;
}

.details_container {
  border-top: 1px solid var(--glass_background);
  transition: all 0.25s ease-out;
  max-height: 8rem;
  overflow: hidden;
}

.hidden {
  border-color: transparent;
  max-height: 0;
}

.details {
  /* padding-top: 10px; */
  padding: 0.5rem;
}

.detail {
  display: flex;
  justify-content: space-between;
}

.price_placeholder {
  background: linear-gradient(-15deg, var(--turquoise_darker) 15%, var(--turquoise_dark) 50%, var(--turquoise_darker) 85%);
  /* background-size: 100% 100%; */
  /* background-repeat: repeat; */
  opacity: 0.1;
  filter: blur(2px);
  height: 1.3em;
  width: 15.625em;
  border-radius: 4px;
  align-self: center;
  animation: placeholder_animation 2s linear infinite;
}

@keyframes placeholder_animation {
  from {
    background-position: 0;
  }
  to {
    background-position: -15.625em;
  }
}

@media (width <= 500px) {
  .header_price,
  .header_gas,
  .details {
    font-size: 0.8rem;
  }

  .header_price_usd {
    display: none;
  }
  .price_placeholder {
    height: 1.1em;
  }
}
