.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(10, 10, 10);
  box-shadow: 0 0 5px var(--glass_shadow);
  padding: 5px 10px;
  border-radius: 4px;

  transition: background ease-out 0.1s;
}

.image {
  width: 100%;
  height: 100%;
}

.container:hover {
  /* backdrop-filter: brightness(10%); */
  background-color: var(--turquoise);
  background: var(--zz_gradient);
  cursor: pointer;
  color: black;
}

.selected {
  background: var(--zz_gradient_dark);
  /* color: black; */
}

.icon_symbol_container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon {
  width: 2.5em;
  height: 2.5em;
  padding: 0;
  margin: 0;
  margin-right: 0.25rem;
  /* background: white; */
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.value_container > * {
  text-align: right;
}

.balance {
}

.usd_value {
  opacity: 0.5;
}

.token_name {
  font-size: 1.1em;
}

.token_symbol {
  opacity: 0.5;
}
