.button {
  height: 100%;
  background-color: transparent;
  backdrop-filter: none;
  border: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-family: inherit;
  color: white;
  gap: 3px;
  transition: all ease-out 0.1s;
  border-radius: 4px;
  font-size: 1em;

  outline: none;
}

.button:hover {
  background-color: var(--turquoise);
  background: var(--zz_gradient);
  color: black;
  cursor: pointer;
}

.icon_container {
  width: 2rem;
  height: 2rem;
  /* border-radius: 50%; */
  background: "white";
  margin-right: 0.5rem;
  margin-left: 0.25rem;
}

.no_token {
  background: var(--zz_gradient_dark);
  /* min-width: 101px; */
}

.no_token_text {
  white-space: nowrap;
  padding-left: 5px;
}

@media (width <= 500px) {
  .icon_container {
    width: 2rem;
    height: 2rem;
    /* border-radius: 50%; */
    background: "white";
    margin-right: 0.5rem;
  }
}
