.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.connection {
  font-family: Courier;
}

.maxbutton {
  color: blue;
  text-transform: underline;
  cursor: pointer;
}

.troubleshooting {
  margin-top: 300px;
}

.errormessage {
  color: red;
}
