// onboard
onboard-v2 {
    .sidebar {
        display: none;
    }
}

.sidebar.svelte-2l58pt {
    display: none !important;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
    display: none;
}

.droplist {
    transform: scaleY(0);
    transition: all .1s;

    &.active {
        transform: scaleY(1);
    }
}

.token-item {
    &:hover {
        .hidden {
            display: block;
        }
    }
}