.container {
  height: 50px;
  position: relative;
  padding: 0 0px;
  justify-content: space-evenly;
  align-items: center;
  background: none;
  box-shadow: none;
  color: white;

  backdrop-filter: blur(20px);
  border-radius: 12px;
  user-select: none;
}

.connect_button {
  background: linear-gradient(-45deg, var(--zz_dark), var(--zz_light));
  color: rgb(207, 255, 250);

  overflow: hidden;
  width: inherit;
  animation: appear 1s ease-out;

  box-shadow: none;
  border: none;
  background: var(--glass_background);

  transition: all 0.2s ease-out;
  font-weight: bold;
  /* margin-top: -10px; */
  cursor: pointer;
  border-radius: .5rem;
  margin-left: .5rem;
  padding: 0.625rem;
  font-size: 0.9rem;
  /* margin-right: 10px; */
  display: flex;
  align-items: center;

  outline: 2px solid transparent;
  outline-offset: 2px;
  border: 1px solid transparent;
}

.connect_button:hover {
  background: var(--glass_background);
  border-color: #F97316;
}

.connect_button .text {
  background-clip: text;
  color: #fff;
  font-weight: 500;
  -webkit-background-clip: text;
}

.connect_button svg {
  fill: rgb(207, 255, 250);
  height: 2em;
  margin-right: 10px;
}

.connect_button:disabled {
  animation: none;
}

.connect_button:not(:disabled):hover {
  filter: brightness(1.1);
}

.address {
  transition: opacity 0.1s ease-out;
}

@media screen and (max-width: 1000px) {
  .connect_button {
    font-size: 1rem !important;
    padding: 5px;
  }
}