.container {
  height: 46px;
  margin-right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.1s ease-out;
  position: relative;
  z-index: 100;
  font-size: 0.9rem;

  border-radius: 14px;
  background-color: var(--glass_background);

  user-select: none;
}

.selected {
  opacity: 0.5;
  height: 46px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  transition: all 0.1s ease-out;
}

.selected:hover {
  cursor: pointer;
  opacity: 1;
}

.dropdown_container {
  position: absolute;
  top: 100%;
  left: 0;

  min-width: 100%;
  border-top: none;

  display: flex;
  flex-direction: column;
  transition: all 0.1s ease-out;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  gap: 5px;

  padding-top: 7px;
}

.network_entry {
  padding: 10px;
  transition: all 0.1s ease-out;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  background-color: var(--glass_background);
  backdrop-filter: blur(20px);
  border-radius: 14px;
}
.network_entry > * {
  opacity: 0.5;
}

.network_entry:hover > * {
  opacity: 1;
}

.network_entry:hover {
  cursor: pointer;
}

.selected_network_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
  font-size: 35px;
  width: 35px;
  height: 35px;
}

.network_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  font-size: 25px;
  width: 25px;
  height: 25px;
}

.disabled {
  color: var(--gray) !important;
  cursor: default !important;
}

.selected_name_container {
  white-space: nowrap;
  /* max-width: 0; */
  padding-left: 5px;
  padding-right: 3px;

  overflow: hidden;
  transition: all 0.2s ease-out;
}

.container:hover .selected_name_container {
  max-width: 500px;
  padding-left: 5px;
  padding-right: 3px;
}

.wrong_network .selected_name_container {
  max-width: 500px;
  padding-left: 5px;
  padding-right: 3px;
}

.wrong_network.selected {
  background: linear-gradient(-45deg, rgba(255, 0, 0, 0.562), rgba(255, 0, 0, 0.253));
  box-shadow: 0 0 30px rgba(255, 0, 0, 0.562);
  border-radius: 14px;
  opacity: 1;
}

.wrong_network {
  animation: pulse 0.5s ease-in-out infinite alternate;
}

@keyframes pulse {
  from {
    backdrop-filter: brightness(2);
  }
  to {
    backdrop-filter: brightness(1);
  }
}

@media (width<=500px) {
  .selected_name_container {
    display: none;
  }
}
